@font-face{
  font-family: 'Dosis';
  font-display: swap;
}

body, html, h1, p{
  margin: 0;
  font-family: 'Dosis', sans-serif;
}
.bg-indigo { background: #a7cecf; }
.logofree{
  width: 280px;
}
.bg{
  background-image: url("/img/coming-soon-syc.jpg") !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  font-size: 45px;
  font-weight: bold;
}
p{
  font-size: 16px;
  margin-bottom: 3px;
}
#launch{
  font-size: 30px;
  word-spacing: 15px;
}
.iconsocial{
  margin: 25px 0px;
}
.social{
  margin: 8px;
  padding: 2px;
  opacity: 0.5;
}
.social:hover{
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  opacity: 1;
}
#formSubs{
  margin: 15px;
}
#input-email{
  margin: 5px;
}
#textEmail{
  width: 100%;
  height: 30px;
  padding: 0 20px;
  border: 3px solid rgba(255, 255, 255, 0.66);
  border-radius: 8px;
  letter-spacing: 1px;
  font-size: 100%;
}
#submit{
width: 30%;
height: 30px;
font-size: 100%;
padding: 0 10px;
background-color: #74cbce;
border: 1px solid #74cbce;
color: white;
border-radius: 8px;
font-weight: 700;
transition: all 0.125s ease-in-out 0s;
cursor: pointer;
}
#submit:hover{
  background-color: white;
  border: 1px solid white;
  color:  #a7cecf;
  opacity: 1;
  transition: all 0.125s ease-in-out 0s;
}
@media (min-width: 768px) {
    .h-md-100 { height: 100vh; }
}
@media only screen and (max-width: 600px) {
  h1{
    font-size: 35px;
    font-weight: bold;
  }
  .logofree{
    width: 220px;
  }
  #launch{
    font-size: 25px;
    word-spacing: 15px;
  }
  .bg{
  	background-image: url("/img/coming-soon-syc-movil.jpg") !important;
  	height: 270px;
  }
}
